/plugins/maven/target/
/target
/libs
/demos/jetty/target/
/nbactions.xml
/demos/jetty/nb-configuration.xml
/nb-configuration.xml
/plugins/maven/nb-configuration.xml


.project
.settings
.classpath
target

*/.project
*/.settings/
*/.classpath
*/target/


*.iml
*/*.iml

.idea/
*/.idea/


*/bin/
bin/

*/.gitignore

.checkstyle
*/.checkstyle
.factorypath
*/.factorypath

log/
*/log/
